<div>
  <%= flash[:notice] %>
</div>


<div class="container">
  <div class="row">
      
    <%= render 'books/lists' ,user: @user, book: @book %>
      
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table">
            <thead>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
                <th clospan="3"></th>
            </thead>
            <% @books.each do |book| %>
          <tbody>
              <td>
                  <%= link_to user_path(@user.id) do %>
                   <%= image_tag @user.get_profile_image(100,100) %>
                    <% end %>
              </td>
              <td>
            <%= link_to book_path(book.id) do %>
              <%= book.title %>
                <% end %>
              </td>    
                  <td>
                    <%= book.body %>
                  </td>
                  <% end %>
          </tbody>          
        </table>
      </div>
  </div>
</div>
